/*imports*/
/*fonts interna*/
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Jost:wght@200&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@font-face {
  font-family: "roboto_light";
  src: url(../fonts/roboto/Roboto-Light.ttf);
}
/*fonts import*/
/*'Jost', sans-serif;*/
/*font-family: 'Satisfy', cursive;*/
/*font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Amatic SC', sans-serif;*/
#accordionPanelsStayOpenExample {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 3rem;
  margin-right: 3rem;
  flex-direction: column;
}

.form_contacto {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20rem;
  margin-bottom: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #212121;
  font-size: 2rem;
}
.form_contacto h1 {
  margin-bottom: 10rem;
}

.form_h1 {
  display: flex;
  margin-left: 3rem;
  margin-top: 5rem;
}

#body_c {
  background-color: #b5b5b5;
}

.body {
  justify-content: center;
}

.donde_estamos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto_light";
  color: #212121;
}
.donde_estamos h1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  font-size: 4rem;
}
.donde_estamos p {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  font-size: 2rem;
}
.donde_estamos iframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  margin-bottom: 10rem;
}

.genero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  font-family: "Amatic SC", sans-serif;
  color: #fafafa;
  font-size: 5rem;
  background-color: #8c8c8c;
  justify-content: center;
  align-items: center;
}
.genero p {
  padding-top: 5%;
}
.genero #carousel-inner {
  display: flex;
  flex-wrap: wrap;
}

/*POR DEFECTO NAVEGADOR*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*para que 1rem= 10px*/
html {
  font-size: 62.5%;
}

.body {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background-image: url(../images/background.png);
}

/*Estilo nav*/
.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav ul {
  display: flex;
  font-size: 2rem;
  font-weight: 200;
  font-family: "roboto_light";
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
}
.nav li {
  justify-content: center;
}
.nav li a {
  text-decoration: none;
  margin-right: 4rem;
  color: black;
  padding-inline: 2rem;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header .logo {
  display: flex;
  width: 20rem;
  height: 10rem;
}
.header .icon {
  position: absolute;
  left: 2%;
  top: 70%;
}
.header .icon a {
  margin-right: 1rem;
  color: #212121;
}

#hamburguesa {
  background-color: #fafafa;
  border: #212121;
  color: #212121;
  position: absolute;
  top: 50%;
  right: 2rem;
}

.navbar bg-body-tertiary fixed-top {
  display: flex;
  flex-wrap: wrap;
}
.navbar bg-body-tertiary fixed-top-toggler {
  display: flex;
}

/*comienzo banner*/
.banner {
  margin-top: 15rem;
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #212121;
  flex-direction: column;
  margin-right: 0;
}
.banner .banner-image {
  display: flex;
  flex-wrap: wrap;
}

#p-banner {
  display: flex;
  flex-wrap: wrap;
  background-color: #616161;
  padding: 5%;
  color: #fafafa;
  font-family: "roboto_light";
  font-size: 2rem;
  margin-left: 60rem;
}

/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #212121;
  min-height: 30rem;
  justify-content: space-around;
  width: 100%;
  margin-right: 0;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  color: #fafafa;
}
footer ul li {
  display: flex;
  flex-wrap: wrap;
  font-family: "roboto_light";
  font-size: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
}
footer ul li a {
  display: flex;
  flex-wrap: wrap;
  color: #fafafa;
}
footer ul li a svg {
  width: 2rem;
  height: 2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10rem;
  margin-top: 10rem;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

@media only screen and (max-width: 1000px) {
  .ul_nav1 {
    display: none !important;
  }
  .banner {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .banner .banner-image {
    justify-content: center;
    width: 100%;
  }
  .banner .banner-image img {
    width: 100%;
  }
  .banner #p-banner {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
  footer ul {
    justify-content: center;
  }
  .productos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin-right: 0;
  }
  #lino {
    justify-content: center;
  }
  #lino #carousel-inner {
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
