
#accordionPanelsStayOpenExample {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
    flex-direction: column;
    font-size: 2rem;
    font-family: 'roboto_light';
    color: #212121;

    .accordion-button {
        font-size: 2rem;
        color: #212121;
        font-family: 'roboto_light';
    }
}

.form_contacto {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin-top: 20rem;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #212121;
    font-size: 2rem;

    h1 {
        padding-bottom: 5rem;
    }
}



#body_c {
    background-color: #b5b5b5;   
}