
.genero {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    font-family: 'Amatic SC', sans-serif;
    color: #fafafa;
    font-size: 5rem;
    background-color: #8c8c8c;
    justify-content: center;
    align-items: center;

    p {
        padding-top: 5%;
    }

    #carousel-inner {
        display: flex;
        flex-wrap: wrap;
}
}