@import "../vendor/mixins";

/*POR DEFECTO NAVEGADOR*/
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*para que 1rem= 10px*/

html {
    font-size: 62.5%;
}

.body {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-image:url(../images/background.png)

}


/*Estilo nav*/

.nav {
    display: flex;
    flex-wrap: wrap;


    ul {
        display: flex;
        font-size: 2rem;
        font-weight: 200;
        font-family: 'roboto_light';
        text-decoration: none;
        list-style-type: none;
        flex-wrap: wrap;
    }

        li {
            justify-content: center;

            a {
                text-decoration: none;
                margin-right: 4rem;
                color: black;
                padding-inline: 2rem;
            }
            
        }
        
    }

    .header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #fafafa;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 2;
        
        
        .logo {
            display: flex;
            @include sizes(20rem, 10rem)
        }
    
        .icon {
            position: absolute;
            left: 2%;
            top: 70%;
            
            a {
                margin-right: 1rem;
                color: #212121;
            }
        }
    }
    
    #hamburguesa {
    
        background-color: #fafafa;
        border: #212121;
        color: #212121;
        position: absolute;
        top: 50%;
        right: 2rem;
    }

    .navbar bg-body-tertiary fixed-top {
        display: flex;
        flex-wrap: wrap;

        &-toggler {
            display: flex;
        }
}

/*comienzo banner*/

.banner {
    margin-top: 15rem;
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #212121;
    flex-direction: column;
    width: 99%;
    
    .banner-image {
    display: flex;
    flex-wrap: wrap;
    }
    }


    #p-banner {
        display: flex;
        flex-wrap: wrap;
        background-color: #616161;
        padding: 5%;
        color: #fafafa;
        font-family: 'roboto_light';
        font-size: 2rem;
        margin-left: 60rem;
}

#p-banner-1 {
    display: flex;
        flex-wrap: wrap;
        background-color: #616161;
        padding: 5%;
        color: #fafafa;
        font-family: 'roboto_light';
        font-size: 2rem;
        margin-right: 60rem;

}

/*footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    background-color:#212121;
    min-height: 30rem;
    justify-content: space-around;
    width: 99.5%;
    margin-right: 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        align-items: center;
        color: #fafafa;
    
        li {
            display: flex;
            flex-wrap: wrap;
            font-family: 'roboto_light';
            font-size: 2rem;
            padding-top: 2rem;
            padding-right: 2rem;

        a {
            display: flex;
            flex-wrap: wrap;
            color: #fafafa;
            text-decoration: none;

            svg {
                width: 2rem;
                height: 2rem;
            }
        }

        }
    }
}
