.card {
        display: flex;
        flex-wrap: wrap;
        margin-right: 10rem;
        margin-top: 10rem;
    }
    
    .productos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10rem;

    }