.card {
        display: flex;
        flex-wrap: wrap;
        margin-right: 15rem;
        font-size: 2rem;
        font-family: 'roboto_light';
        color: #212121;


    }
    
    .productos {
        display: flex;
        flex-direction: row;
        width: 99%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 20rem;
        margin-bottom: 5rem;
    }