.card {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: 5rem;
        margin-top: 8rem;
        margin-bottom: 10rem;
        margin-right: 20rem;
    }
    
    .productos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20rem;
    }